<h2>Tree Chart Example</h2>

<button type="button" {{on "click" this.toggleDirection}}>Toggle Direction</button>

<div class="chart-container">
  <Chart::Tree
    class="border"
    @width="100%"
    @height={{this.estimatedHeight}}
    @data={{this.treeData}}
    @noDataText="No data"
    @seriesConfig={{this.seriesConfig}}
  />
</div>