<h2>Graph Chart Example</h2>
<Chart::Graph
  class="border"
  @width="100%"
  @height="400"
  @data={{this.graphData}}
  @links={{this.graphLinks}}
  @seriesConfig={{this.seriesConfig}}
  @noDataText="No data"
/>