<h2>Simple Line Chart</h2>
<Chart::Bar
  class="border"
  @width="100%"
  @height="200"
  @data={{this.chartData}}
  @noDataText="No data"
/>

<h2>Simple Donut Chart</h2>
<Chart::Bar
  class="border"
  @width="100%"
  @height="200"
  @variant="line"
  @data={{this.chartData}}
  @noDataText="No data"
/>